@keyframes background {
    0% { background-color: skyblue; }
    30% { background-color: aquamarine; }
    65% { background-color: darkcyan; }
    100% { background-color: cadetblue; }
}

body {
    max-width: 640px;
    animation: background 5s infinite;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    color: coral;
    margin-left: 2rem;
}

input {
    margin: 2rem;
    width: calc(100% - 4rem);
    border-radius: 3px;
    min-height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

#previousScreen {
    margin-left: 2rem;
    height: 2rem;
}

#calculator {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    grid-auto-rows: minmax(5rem, auto);
}

button {
    font-size: 2rem;
    font-weight: bold;
}

button:hover {
    background-color: cornsilk;
}

button[id='='] {
    background-color: coral;
}

button[id='=']:hover {
    background-color: black;
    color: coral;
}

button[disabled='false']:hover {
    color: blue;
}

button[disabled='true'][id='='] {
    cursor: none;
    background-color: darkgray;
    color: gray;
}

button[id='C'] {
    color: darkred;
}

button[id='C']:hover {
    color: white;
    background-color: darkred;
}

.wrapper {
    background-color: black;
    opacity: 0.9;
    padding: 2rem;
}

.results {
    color: white;
}